html
	head

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon" type="image/png" href="")

		title Analysis

		script(src="/socket.io/socket.io.js")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js",integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")

		style.

			*{
				box-sizing: border-box;
			}
			html{
				font-family: Arial;
				overflow-y:scroll;
			}

			header{
				text-align: center;
			}

			div.graph-view{
				width: 1200px;
				position: relative;
				overflow: hidden;
				margin: 0 auto;
			}

			div.graph-view div.toggle-switch-board{
				width: 300px;
				text-align: center;
			}

			div.graph-view div.sliders{
				text-align: center;
			}

			button{
			}

			label{
				display: inline;
				padding: 8px;
				cursor: pointer;
				position: relative;
				overflow: hidden;
			}
			
			label > *{
				margin: 8px;
			}
			
			div.toggle-switch-board li{
				list-style: none;
				text-align: left;
			}

			div.toggle-switch-board li .color{
				display: inline-block;
				height: 16px;
				width: 16px;
				border-radius: 100%;
				*display:inline; /* ie 7 fix */
				vertical-align: top;
			}

			div.toggle-switch-board, canvas{
				float: left;
			}

			canvas{
				border: solid 1px lightgrey;
				border-radius:2px;
			}

			a{
				display: inline-block;
				cursor: pointer;
				padding: 8px;
			}

			div.dtw-view{
				text-align: center;
			}

			table{
				margin: 0 auto;
			}

			table th {
				/* Something you can count on */
				height: 140px;
				white-space: nowrap;
			}

			table th > div {
				transform: 
				/* Magic Numbers */
				translate(15px, 51px)
				/* 45 is really 360 - 45 */
				rotate(315deg);
				width: 30px;
			}

			table th > div > span {
				padding: 5px 10px;
			}

			table a{
				text-decoration: none;
				color: #000;
			}

			table tr{
				text-align: center;
			}

			table tr td:first-child{
				font-weight: bold;
				text-align: left;
			}

	body

		header 
			h1 Analysis

			button(id="create-files-btn") Export data (.csv, .dat)

		br

		div(class="graph-view")

			header

				nav

			div
				div(class="toggle-switch-board")

					a(href="#" class="toggle") toggle all
					ul

				canvas(id="canvas")

				div(class="sliders")
			
					label Scale x axis
					input(type="range" min="100" max="400" value="250" class="slider scale-x")

					label Scale y axis
					input(type="range" min="100" max="400" value="250" class="slider scale-y")

					label(for="link") Linked
					input(type="checkbox" id="link")

		div(class="dtw-view")

			button(class="generate-dtw") Generate DTW table

			table

		script(type='text/javascript').

			Number.prototype.map = function (in_min, in_max, out_min, out_max)
			{
				return (this - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;
			}

			const socket = io();
			const GESTURES = !{ JSON.stringify(GESTURES) }; //get GESTURES from server
			const ACTION = !{ JSON.stringify(ACTION) }; //get ACTION from server

			const collections = !{ JSON.stringify(collections) }; //get collections from server

			var canvas = document.getElementById('canvas');
			var ctx = canvas.getContext('2d');

			let h = 600;
			let w = 900;

			canvas.width 		= w * getRatio(ctx);
			canvas.height 		= h * getRatio(ctx);
			canvas.style.width 	= w + 'px';
			canvas.style.height	= h + 'px';

			ctx.transform(1, 0, 0, -1, 0, canvas.height);

			sortedCollections = {};

			for (var i = 0; i < GESTURES.length; i++)
			{
				sortedCollections[GESTURES[i].id] = collections.filter(pattern => 
					pattern.gesture_id == GESTURES[i].id
				);
			}

			for(collection in sortedCollections)
			{
				let col = sortedCollections[collection];
				let alias = GESTURES.find((gesture) => {return gesture.id == collection}).alias;

				let l = $('<label />', {
					for : collection
				})
				.html(alias)
				.append(
					$('<input />', {
						type : 'radio',
						name : 'gesture',
						id : collection,
						checked : true
					})
				).appendTo('div.graph-view header nav');
			}

			showParticipants();

			function showParticipants()
			{
				let chosen = $('nav input:checked').attr('id');

				sortedCollections[chosen].forEach((elm, i) => {

					var color = '#' + intToRGB(hashCode(elm.calibration_id));

					$('div.toggle-switch-board ul').append(
						$('<li />')
						.append(
							$('<a />', {
								class : 'playback',
								'data-calibration-id' : elm.calibration_id
							}).html('&#9658;')
						).append(
							$('<label />', {
								for : elm.calibration_id
							})
							.append(
								$('<input />', {
									type : 'checkbox',
									id 	: elm.calibration_id,
									//- checked : true
								})
							).append(
								$('<span />', {
									class : 'color',
									style : 'background-color:'+color
								}).text(' ')
							).append(
								$('<span />').text(elm.calibration_id)
							)
						)
					);
				});
			}

			$('div.toggle-switch-board').on('change', 'input', toggleVibrationsPattern);
			$('nav input').on('change', (e) => {
				$('div.dtw-view table').empty();
				toggleVibrationsPattern()
			});

			function toggleVibrationsPattern()
			{
				clear(ctx);
				$('div.toggle-switch-board ul input:checked').each((i, elm) => {
					let chosen = $('nav input:checked').attr('id');

					let calibration = sortedCollections[chosen].filter(calibration => calibration.calibration_id == elm.id)[0];

					let amps = calibration.amplitudes;

					let color = '#' + intToRGB(hashCode(elm.id));

					ctx.strokeStyle = color;

					draw(ctx, amps, true);
				});
			}

			$('a.toggle').on('click', (e) => {
				e.preventDefault();

				var checked = $('div.toggle-switch-board ul input:checked');

				if(checked.length > 0)
				{
					checked.each((i, elm) => {
						elm.checked = false;
					})				
				}
				else
				{
					$('div.toggle-switch-board ul input').each((i, elm) => {
						elm.checked = true;
					})				
				}

				toggleVibrationsPattern();
			});

			$('input.slider').on('change', (e) => {

				if($('input#link').is(':checked'))
				{
					let value = e.target.value;

					$('input.scale-x').val(value);
					$('input.scale-y').val(value);
				}

				toggleVibrationsPattern();
			});

			function clear(ctx)
			{
				ctx.clearRect(0,0,canvas.width,canvas.height);
			}

			function draw(ctx, points, smooth)
			{
				let scaleX = $('input.scale-x').val()/100;
				let scaleY = $('input.scale-y').val()/100;

				let span = 10;

				ctx.save();
				ctx.beginPath();

				ctx.scale(scaleX,scaleY);

				ctx.moveTo(0, points[0]);

				for (j = 1; j < points.length; j ++)
				{
					let p1 = points[j];
					let p2 = (points[j + 1]) ? points[j + 1] : 0;
		
					var xc = (j * span + ((j + 1) * span)) / 2;
					var yc = (p1 + p2) / 2;
					if(smooth)
						ctx.quadraticCurveTo((j * span)+2, p1+2, xc+2, yc +2);
					else
						ctx.lineTo(p1, yc);
				}

				ctx.stroke();
				ctx.restore();
			}

			function getRatio(ctx)
			{
				var dpr = 	window.devicePixelRatio 			|| 1;
				var bsr = 	ctx.webkitBackingStorePixelRatio 	||
							ctx.mozBackingStorePixelRatio 		||
							ctx.msBackingStorePixelRatio 		||
							ctx.oBackingStorePixelRatio 		||
							ctx.backingStorePixelRatio 			|| 1;

				return dpr / bsr;
			};

			function hashCode(str)
			{
				var hash = 0;
				for (var i = 0; i < str.length; i++)
				{
					hash = str.charCodeAt(i) + ((hash << 5) - hash);
				}
				return hash;
			} 

			function intToRGB(i)
			{
				let c = (i & 0x00FFFFFF)
				.toString(16)
				.toUpperCase();

				return "00000".substring(0, 6 - c.length) + c;
			}

			$('a.playback').on('click', (e) => {

				const anchor = event.target || event.srcElement;

				$('a.playback').html('&#9658;');

				if(anchor.playback)
				{
					socket.emit(ACTION.STOP_PLAYBACK);
					anchor.playback = false;
				}
				else
				{
					anchor.innerHTML = '&#9724;';
					anchor.playback = true;

					let gesture = $('nav input:checked').attr('id');

					let calibration_id = e.target.getAttribute('data-calibration-id');

					let calibration = sortedCollections[gesture].filter(calibration => calibration.calibration_id == calibration_id)[0];

					let amps = calibration.amplitudes;

					socket.emit(ACTION.ANALYTIC_PLAYBACK, {
						recording 	: amps
					});
				}
			});

			$('table').on('click', 'a', (e) => {
				e.preventDefault();

				let gesture = $('nav input:checked').attr('id');
				const anchor = event.target || event.srcElement;

				var calibrationIds = anchor.getAttribute('data-calibration-ids').split(',');
				var path = anchor.getAttribute('data-dtw-path').split(',');

				var checkboxes = $('div.toggle-switch-board ul input');
				
				checkboxes.each((i, elm) => {
					elm.checked = (calibrationIds.includes(elm.id));
				})

				toggleVibrationsPattern();
			
				//- ctx.strokeStyle = 'grey';
				//- draw(ctx, path);
			});

			socket.on(ACTION.STOP_PLAYBACK, function(data)
			{
				$('a.playback').html('&#9658;');
			});

			$('button.generate-dtw').on('click', (e) => {

				let gesture = $('nav input:checked').attr('id');

				socket.emit(ACTION.GENERATE_DTW_TABLE, {
					gesture : gesture
				});
			});

			socket.on(ACTION.DISPLAY_DTW_TABLE, function(data)
			{
				var table = $('div.dtw-view table');
				table.empty();

				var header = $('<thead />').append($('<td />'));

				var max = -Infinity;
				var min = Infinity;

				data.table.forEach((rowData, i) => {
				
					rowData.forEach((dist, j) => {

						max = (dist > max) ? dist : max;
						min = (dist < min && dist != 0) ? dist : min;
					});
				});

				data.table.forEach((rowData, i) => {
				
					var row = $('<tr />').append($('<td />').text(data.header[i]));

					header.append($('<th />').append($('<div />').append($('<span />').text(data.header[i]))));

					rowData.forEach((dist, j) => {

						var color = dist.map(min,max,255,0);

						$('<td />', {
							style : 'background-color:rgb(255,'+ color.toFixed() +',0)'
						}).append(

							$('<a />', {
								href : '#',
								'data-calibration-ids' : [data.header[i], data.header[j]],
								'data-dtw-path'	: data.paths[i][j]
							}).text(dist)

						).appendTo(row);
					});

					table.append(row);
				});

				table.append(header);

				console.log(max);
				console.log(min);
			});

			$('button.create-files-btn').on('click', (e) => {
				socket.emit(ACTION.CREATE_DATA_FILES);
			});
