html
	head

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon" type="image/png" href="")

		title Vibration recorder

		script(src="/socket.io/socket.io.js")

		style.
			html{
				font-family: Arial;
			}

	body
		div
			h1 hello
			button(id="record-btn") record
	
			button(id="playback-btn") playback
		script.

			const ACTION = {
				RECORD 			: '1',
				STOP_RECORDING 	: '2',
				PLAYBACK 		: '3',
				STOP_PLAYBACK 	: '4',
			}

			const socket = io();

			document.getElementById('record-btn')
				.addEventListener('click', (event) =>
				{
					const button = event.target || event.srcElement;

					if(button.recording)
					{
						socket.emit(ACTION.STOP_RECORDING);
						button.innerHTML = 'record';
						button.recording = false;
					}
					else
					{
						socket.emit(ACTION.RECORD);
						button.innerHTML = 'stop';
						button.recording = true;
					}
				});

			document.getElementById('playback-btn')
				.addEventListener('click', (event) =>
				{
					const button = event.target || event.srcElement;

					if(button.playback)
					{
						socket.emit(ACTION.STOP_PLAYBACK);
						button.innerHTML = 'playback';
						button.playback = false;
					}
					else
					{
						socket.emit(ACTION.PLAYBACK);
						button.innerHTML = 'stop';
						button.playback = true;
					}
				});

			socket.on(ACTION.STOP_PLAYBACK, function(data)
			{
				let button = document.getElementById('playback-btn');
				button.innerHTML = 'playback';
				button.playback = false;
			});