html
	head

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon" type="image/png" href="")

		title Vibration recorder

		script(src="/socket.io/socket.io.js")

		style.
			html{
				font-family: Arial;
			}

			#video{
				display: block;
				margin: 0 auto;
			}
	body
		div
			h1 hello

			<div id="video"></div>

			button(id="record-btn") record
			button(id="playback-btn") playback
			button(id="submit-btn") submit
			
		script(type='text/javascript').

			const ACTION = !{ JSON.stringify(ACTION) }; //get ACTION from server
			const gestures = !{ JSON.stringify(gestures) }; //get ACTION from server

			var gestureId = 0;

			const socket = io();

			document.getElementById('record-btn')
				.addEventListener('click', (event) =>
				{
					const button = event.target || event.srcElement;

					if(button.recording)
					{
						socket.emit(ACTION.STOP_RECORDING);
						button.innerHTML = 'record';
						button.recording = false;
					}
					else
					{
						socket.emit(ACTION.RECORD);
						button.innerHTML = 'stop';
						button.recording = true;
					}
				});

			document.getElementById('playback-btn')
				.addEventListener('click', (event) =>
				{
					const button = event.target || event.srcElement;

					if(button.playback)
					{
						socket.emit(ACTION.STOP_PLAYBACK);
						button.innerHTML = 'playback';
						button.playback = false;
					}
					else
					{
						socket.emit(ACTION.PLAYBACK);
						button.innerHTML = 'stop';
						button.playback = true;
					}
				});

			document.getElementById('submit-btn')
				.addEventListener('click', (event) =>
				{
					socket.emit(ACTION.SUBMIT, {
						id : gestureId
					});

					gestureId++;
					
					player.loadVideoById(gestures[gestureId]);
				});

			socket.on(ACTION.STOP_PLAYBACK, function(data)
			{
				let button = document.getElementById('playback-btn');
				button.innerHTML = 'playback';
				button.playback = false;
			});

				// Load the IFrame Player API code asynchronously.
			var tag = document.createElement('script');
			tag.src = "https://www.youtube.com/player_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

			var player;
			function onYouTubePlayerAPIReady()
			{
				player = new YT.Player('video', {
					height: '360',
					width: '640',
					playerVars: {
						showinfo: 0,
						rel : 0,
					},
					videoId: gestures[gestureId]
				});
			}

